

html, body, .sidebar-nav, .content-posts {
    height: 100%;
}

body {
    background: #edf1f5;
    font-family: Poppins, sans-serif;
}

a, a:link, a:visited, a:focus {
    color: #404040;
    text-decoration: none;
}

b, strong {
    font-weight: 600;
}

h1, h2, h3 { font-weight: 600; }

h2 {  font-size:22px; }

h3 { font-size: 15px;
     margin-top:0;
     margin-bottom:5px;}

.btn:focus,.btn:active, .btn:active:focus  { outline:none; }


.card-post .img-user  { max-width: 110px;
                        min-width: 60px;}

.card-post .chat-row .img-user { min-width:inherit; }

.img-user-mini {
    width: 30px;
    height: 30px;
}

.popular-img {
   margin-top:10px;
}



.card-post {
    background: #ffffff;
    padding: 15px;
    display: block;
    overflow: hidden;
    margin-bottom: 15px;
    width: 531px;
    margin-left: 382px;
	height:300px;
}

.container-posts {
    padding: 0 130px;
}

.img-post {
    width: 100%;
}

.info-user i { color:#929292; }

.reaction {
    padding: 10px 0;
}

.comments {
    border-top: 1px solid #dadada;
    padding-top: 5px;
}

.comments ul {
    list-style: none;
    padding: 0px;
}

.comments ul li, .comments .more-comments {
    padding: 5px 0;
}

.comments .more-comments {
    color: #ababab;
}
